.hero {
	display: flex;
	margin-bottom: 2rem;
  width: 100%;
	height: 600px;
  background:linear-gradient(45deg, #0003c0,#8600b7,#330b07);
  background-size: 200% 200%;
  animation: bggradient 20s ease infinite;
	text-align: center;
	color: rgba(100%, 100%, 100%, 0.6);
}

.hero-inner {
	margin: auto;
}

.title {
	font-size: 6.88rem;
	line-height: 1;
}

.sub-title {
	margin-top: 1rem;;
	font-size: 1.62rem;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}